*{
  background-color: #121212;
}

.container{
  color: white;
  flex-direction: column;
  justify-content: center;
}

.nav-items{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 30px;
  margin-right: 45px;
}

.textBox{
  font-size: 35px;
  height: 50px;
  width: 800px;
  justify-content: center;
  margin: 50px 26%;
  background-color: white;
  color:black;
  border-radius: 20px;
  text-align: center;
}


.nav-items > li > a{
  font-size: 25px;
  text-decoration: none;
  color: white;
}

li > a:hover{
  color:burlywood;
}

.results{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin: 50px;
}

.result h4{
  text-align: center;
  font-size: 15px;
}

.result img{
  height: 300px;
  width: 300px;
  box-shadow: 8px 10px 102px -22px rgba(232,153,153,0.75);
-webkit-box-shadow: 8px 10px 102px -22px rgba(232,153,153,0.75);
-moz-box-shadow: 8px 10px 102px -22px rgba(232,153,153,0.75);
border-radius: 25px;
}


.not-found{
  font-size: 50px;
  text-align: center;
}

.image-header{
  
}
